<div class="max-width">
    <div id="sideNav">
        <nav class="site">
            <ul>
                <li><a href="#/">Home</a></li>
                <li class="selected"><a href="#/about">About</a></li>
            </ul>
            <div id="pageNav"></div>
        </nav>
    </div>
</div>
<div id="site">
    <header id="main-header">
        <div class="max-width">
            <hgroup>
                <h1>Made in NZ</h1>
                <p>A collection of internet companies made in NZ</p>
            </hgroup>
            <a id="slide-menu-button" class="topcoat-icon-button--large--quiet">
                <span class="topcoat-icon--large topcoat-icon--menu-stack"></span>
            </a>
        </div>
    </header>
    <div id="content" class="max-width">
        <article id="list" class="component">
            <p style="text-align: center;">
                <p>Oh Snap! Please check your internet connection and try again.</p>
            </p>
        </article>
    </div>
</div>