<div class="max-width">
    <div id="sideNav">
        <nav class="site">
            <ul>
                <li><a href="#/">Home</a></li>
                <li class="selected"><a href="#/about">About</a></li>
            </ul>
            <div id="pageNav"></div>
        </nav>
    </div>
</div>
<div id="site">
    <header id="main-header">
        <div class="max-width">
            <hgroup>
                <h1>About</h1>
            </hgroup>
            <a id="slide-menu-button" class="topcoat-icon-button--large--quiet">
                <span class="topcoat-icon--large topcoat-icon--menu-stack"></span>
            </a>
        </div>
    </header>
    <div id="content" class="max-width">
        <article id="list" class="component">
            <p style="text-align: center;">
                Following in the footsteps of <a href="http://nytm.org/made-in-nyc">Internet Made in New York City</a> and <a href="http://madeinoz.org/">Made in Oz</a>,
                Made in NZ brings out remarkable web creations from New Zealand and introduces them to the rest of the world.
                Made in NZ aims to highlight New Zealand-based companies that create products or services with a certain scope such as web apps,
                as well as start-ups that proudly market their NZ origins.
            </p>

            <p style="text-align: center;margin-top: 50px;"><b>Version 0.1</b></p>
        </article>
    </div>
</div>